body {
    font-family: 'Nunito', sans-serif;
    background: rgba(130, 168, 236, 0.459);
  }
  
  header {
    text-align: center;
    padding: 20px;
  }
  
  nav {
    display: flex;
    justify-content: space-around;
    padding: 20px;
  }
  
  .nav-images {
    width: 100px;
    height: 100px;
  }
  
  figure figcaption{
    text-align: center;
    font-weight:bold;
  }

  .weather-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .weather-box {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 100%);
    width: 80%;
    padding: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 35px;
    margin-bottom: 20px;
  }
  
  .weather li {
    list-style: none;
  }
  
  .weather img {
    width: 45px;
    margin-bottom: 5px;
  }

  /* .weather li img {
    align-items: left;
    width: 30px;
    height: 30px;
    margin-left: 20px;
  } */


  #reminder-box {
    width: 80%;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    height: 300px; 
    background: white;
    border-radius: 35px;
  }

  #weekly-weather{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    width: 80%;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    height: 300px; 
    background: white;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 100%);
    border-radius: 35px;
}

  #titles {
    margin-left: 30px;
  }

  /* #temp{
    height: 50px;
  }

  #wind{
    width: 45px;
  }

  #humidity{
    height: 42px
  } */

  .weather li {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
    width: 30%;
    margin-bottom: 20px;
  }