  #reminder-box {
    width: 93%;
    padding: 1.25rem; /* Changed to 1.25rem (1.25rem = 20px / 16px) */
    border-radius: 0.625rem; /* Changed to 0.625rem (0.625rem = 10px / 16px) */
    margin-bottom: 1.25rem; /* Changed to 1.25rem (1.25rem = 20px / 16px) */
    height: 18.75rem; /* Changed to 18.75rem (18.75rem = 300px / 16px) */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 100%);
    border-radius: 2.1875rem; /* Changed to 2.1875rem (2.1875rem = 35px / 16px) */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  }