#weekly-weather{
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  width: 93%;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  height: 700px; 
  background: white;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 100%);
  border-radius: 35px;
}

#hot, #cold {
  width: 32px;
  height: 32px;
  position: absolute;
  right: 0;
  margin-right: 30px;
  margin-top: 5px;
  margin-bottom: 5px;
}