body {
  background: rgba(130, 168, 236, 0.459);
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  width: auto;
  border-radius: 10px;
  padding-top: 60px;
}

div {
  width: 90%;
  max-width: 390px;
  padding: 90px 50px 130px 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background: white;
  border-radius: 10px;
  text-align: center;
  margin: auto;
}

h1 {
  font-size: 2.6em;
  color: #333;
  margin-bottom: 0.5em;
}

.description {
  width: 100%; /* Makes the <p> as wide as the div container */
  font-size: 1.1em;
  color: #555;
  line-height: 1.5;
  margin-bottom: 2em;
}

button {
  padding: 15px 0;
  width: 80%;
  font-size: 1.4em;
  margin-bottom: 1em;
  border: none;
  border-radius: 5px;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  text-decoration: none; /* Removes underline from links */
}

a {
  text-decoration: none;
  color: inherit;
}