.profile-settings-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px;
  margin: 0 auto; /* Centers the box on the screen */
  background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 100%);
  border-radius: 10px;
  max-width: 370px; /* Max-width for iPhone 12 Pro */
}

.profile form {
  width: 100%; /* Use 100% of .register-box width */
}

h1 {
  font-size: 2.5em; 
  color: rgb(42, 36, 36);
}

legend {
  font-size: 1.2em; /* Increase font size */
  font-weight: bold; /* Make it bold */
  padding-bottom: 0.3%;
  color: rgb(42, 36, 36);
}

section {
  width: 100%; /* Full width of the form */
  margin-bottom: 2em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

/* Styles for table to make it responsive */
table {
  width: 100%; /* Table should take the full width */
  border-collapse: collapse; /* Collapses border to a single line */
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="time"],
textarea,
select {
  width: calc(90% - 2em); /* Full width minus padding */
  margin-bottom: 1em; /* Add space below inputs */
  padding: 5px;
  border: 1px solid #949ea4;
  border-radius: 4px;
}

@media (max-width: 390px) {
  /* Adjustments for smaller screens, like the iPhone 12 Pro */
  .profile-settings-box {
    padding: 20px;
    margin: 20px auto;
  }
  
  input[type="time"] {
    width: 100%; /* Make time inputs full width on small screens */
  }
  
  section, .form-actions {
    align-items: stretch
  }
  
  button {
    width: 100%; /* Full-width buttons on small screens */
    margin-top: 10px; /* Add spacing between buttons */
  }
}
