.register-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px;
  margin: 0 auto; /* Centers the box on the screen */
  background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 100%);
  border-radius: 10px;
  max-width: 370px; /* Max-width for iPhone 12 Pro */
}

.register-box form {
  width: 100%; /* Use 100% of .register-box width */
}

section {
  width: 100%; /* Full width of the form */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

/* Styles for table to make it responsive */
table {
  width: 100%; /* Table should take the full width */
  border-collapse: collapse; /* Collapses border to a single line */
}

@media (max-width: 390px) {
  /* Adjustments for smaller screens, like the iPhone 12 Pro */
  .register-box {
    padding: 20px;
    margin: 20px auto;
  }
  
  input[type="time"] {
    width: 100%; /* Make time inputs full width on small screens */
  }
  
  section, .form-actions {
    align-items: stretch
  }
  
  button {
    width: 100%; /* Full-width buttons on small screens */
    margin-top: 10px; /* Add spacing between buttons */
  }
}
