  nav {
    display: flex;
    justify-content: space-around;
    padding: 0.5%;
  }
  
  nav input {
    width: 60%;
    margin-left: 22%;
    border-radius: 10em;
    border: solid 1px rgb(255, 255, 255);
    transition-duration: 0.3s;
  }

  figure figcaption{
    text-align: center;
    font-weight:normal;
    font-size:90%;
  }