#reminder-box {
    width: 93%;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    height: 300px; 
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 100%);
    border-radius: 35px;
  }